pradic1_aplikacija_2/dnevnik.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
    <doc xmlns:jersey="http://jersey.java.net/" jersey:generatedBy="Jersey: 3.0.1 2021-01-26 17:49:29"/>
    <grammars/>
    <resources base="http://localhost:8084/pradic1_aplikacija_2/rest/">
        <resource path="dnevnik/">
            <method id="dodajDnevnik" name="POST">
                <request>
                    <representation mediaType="application/json"/>
                </request>
                <response>
                    <representation mediaType="application/json"/>
                </response>
            </method>
            <resource path="{korisnik}/broj">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="korisnik" style="template" type="xs:string"/>
                <method id="dajBrojDnevnika" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="korisnik" style="header" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="lozinka" style="header" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="od" style="query" type="xs:long"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="do" style="query" type="xs:long"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="{korisnik}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="korisnik" style="template" type="xs:string"/>
                <method id="dajDnevnike" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="korisnik" style="header" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="lozinka" style="header" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="pomak" style="query" type="xs:int"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="stranica" style="query" type="xs:int"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="od" style="query" type="xs:long"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="do" style="query" type="xs:long"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>
